* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.whatsapp {
  width: 68px;
  height: 68px;
  outline: none;
  position: fixed;
  bottom: 4px;
  right: 4px;
  cursor: pointer;
}

.logo {
  width: 240px;
  height: 100px;
}

.fabra {
  width: 240px;
  height: 100px;
}

.buscador {
  margin-top: 30px;
  height: 40px;
  width: 400px; /* ajustá según tu diseño */
}

/* Input con espacio para la lupa */
.busqueda {
  width: 100%;
  padding: 10px 40px 10px 12px; /* espacio a la derecha para la lupa */
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
  transition: box-shadow 0.4s ease;
  background: url("../img/lupa.png") no-repeat right 20px center;
  background-size: 32px;
  background-color: white;
}

/* Efecto al enfocar */
.busqueda:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-color: #888;
}

.logo-usuario {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.logo-carrito {
  width: 60px;
  height: 60px;
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(217, 246, 252, 0.767);
  height: 100px;
}

footer {
  color: antiquewhite;
  display: flex;
  background-color: rgb(7, 140, 173);
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: auto;
}
